<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">

        <title>Contato</title>
    </head>
    <body>
        <div class="container-formulario-contato">
            <form action="/contato" method="POST" class="formulario-contato">
                <fieldset class="fieldset-contato">
                    <legend>Identifique-se</legend>
                    <label for="nome">Nome:</label><br>
                    <input type="text" name="nome" id="nome" required><br>
                    <label for="email">Email:</label><br>
                    <input type="email" name="email" id="email" required><br>
                </fieldset>
                <fieldset class="fieldset-contato">
                    <legend>Sua mensagem</legend>
                    <label for="assunto">Assunto:</label><br>
                    <input type="text" name="assunto" id="assunto" required><br>
                    <label for="mensagem">Mensagem:</label><br>
                    <textarea name="mensagem" id="mensagem" required></textarea>
                </fieldset>
                <input type="submit" value="Enviar" class="btn-contato">
            </form>
        </div>
        <a href="/" class="botao_voltar">Voltar</a>
    </body>
</html>