<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevBurger</title>
    </head>
    <body>
        <h1>Bem-vindos ao DevBurger</h1>
        <p>Gostaríamos muito de ouvir sua sugestão!</p>
        <form action = "/sugestao" method="get">
            <label for="nome">Nome: </label><br>
            <input type="text" name="nome" id="nome"><br>
            <label for="ingredientes">Ingredientes:</label><br>
            <textarea name="ingredientes" id="ingredientes" placeholder="Conte pra gente um sabor novo de lanche que gostaria que oferecêssemos para você."></textarea><br><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>