.container-pagenotfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 
#pagenotfound {
    display: block;
    width: 500px;
    height: auto;
}

.botao_voltar{
    display: inline-block;
    margin-top: 1rem;
}